<%= render "layouts/nav" %>

<header>
  <h1>
    Read, Listen and Share Stories<br>
    about Love, Family, Work and much more.
  </h1>
  <p>Real-life Stories to get through the day as you work, travel or even fall asleep.</p>
  <div>
    <a href="#" class="join-btn">Join the community</a>
  </div>
</header>

<main>
  <ul>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li>
          <div>
            <%= link_to article.title, article %>
            <span class="about">
              <span>Posted on: <%= article.created_at %></span> &middot; 20 Reads
            </span>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</main>

<%= render "layouts/footer" %>
