/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Sen:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}

nav {
  /* background: #b9b2dc; */
  background: #a6dae8;
  padding: 2em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  /* text-decoration: none; */
  color: #000;
  font-size: 1.2em;
  letter-spacing: -1px;
}

.button {
  background: transparent;
  color: #000;
  padding: 15px 30px;
  border-radius: 30px;
  border: 1.5px solid #000;
  text-decoration: none;
  font-size: 0.9em;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Libre Baskerville', serif;
}

header {
  text-align: center;
  padding: 7em 2em 4em;
  /* background: #b9b2dc; */
  background: #a6dae8;
}

h1,
h2 {
  margin: 0 0 1em 0;
}

header div {
  margin: 3em 0;
}

.join-btn {
  background: #fee3b8;
  color: #000;
  padding: 15px 30px;
  border-radius: 30px;
  border: 1.5px solid #000;
  text-decoration: none;
  font-size: 0.9em;
}

main {
  width: 75%;
  margin: 2em auto;
}

li {
  list-style: none;
  margin: 0 0 2px 0;
}

li div {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

li a {
  text-decoration: none;
  color: #000;
}

.about,
.links {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.85em;
}

.links {
  margin-top: 0.9em;
}

.story-display {
  display: flex;
  justify-content: space-between;
}

.story-display section {
  width: 25%;
}

h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

form {
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;
}

form textarea,
form input[type='text'] {
  width: 100%;
  background: #f3f3f4;
  border-radius: 6px;
  border: 2px solid #f3f3f4;
  padding: 0.5em 1em;
}

form select {
  background: #f3f3f4;
  border-radius: 6px;
  border: none;
  padding: 0.5em 1em;
}

form input[type='text'],
form select {
  font-size: 1em;
  margin-top: 1em;
}

form input[type='submit'] {
  background: #fee3b8;
  color: #000;
  border-radius: 6px;
  padding: 0.5em 1em;
  border: none;
  font-size: 1em;
}

.comment {
  margin-bottom: 1.4em;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
  font-size: 0.9em;
  padding: 2em 0;
}
